<!DOCTYPE html>
<html lang="zh-cn" ng-app="myApp">
<head>
    <meta charset="utf-8">
		<script src="../vendor/angular/angular.js"></script>
		<script src="../javascripts/demo1/script.js"></script>
		<title>demo</title>
	</head>
	<body>
		{{title}}
		<div  ng-controller="InvoiceCtl">
			<h4>{{title}}</h4>
			<p>Quantity:<input name="qty" type="integer" min="0" ng-model="qty" require/></p>
			<p>Cost:<input name="cost" type="number" ng-model="cost"/></p>
			<p>Total: {{qty*cost | currency}}</p>
		</div>
	</body>
</html>